.outline-none {
  outline: none;
}

.border-none {
  border: none !important
}

.border {
  border: solid 1px;
}

.rounder {
  border-radius: 5px;
}

.rounder-50p {
  border-radius: 50%;
}

.rounder-full {
  border-radius: 100%;
}

.border-top {
  border-top: solid 1px !important;
}

.border-bottom {
  border-bottom: solid 1px !important;
}

.border-left {
  border-left: solid 1px !important;
}

.border-right {
  border-right: solid 1px !important;
}

.border-top-none {
  border-top: none !important;
}

.border-bottom-none {
  border-bottom: none !important;
}

.border-left-none {
  border-left: none !important;
}

.border-right-none {
  border-right: none !important;
}