.btn {
  transition: 0.25s;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-hover-opacity:hover { opacity: 0.5; }
.btn-click:active { transform: translateY(10px); }

.btn-success { background-color: green; color: white; }
.btn-cancel { background-color: red; color: white; }
.btn-warning { background-color: yellow; color: white; }