.btn {
  height: 30px;
  transition: 0.25s;
  padding: 5px 7px;
  outline: none;
  border: none;
}
.btn-hover-opacity:hover { opacity: 0.5; }
.btn-click:active { transform: translateY(10px); }

.btn-success { background-color: green; color: white; }
.btn-cancel { background-color: red; color: white; }
.btn-warning { background-color: yellow; color: white; }