.flex-x-y {
  justify-content: center;
  align-items: center;
}

.flex-x,
.justify-content-center {
  justify-content: center;
}

.flex-y,
.align-items-center {
  align-items: center;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-start {
  align-items: start;
}

.align-items-end {
  align-items: end;
}

.gap-1 { gap: 1px; }
.gap-2 { gap: 2px; }
.gap-3 { gap: 3px; }
.gap-4 { gap: 4px; }
.gap-5 { gap: 5px; }
.gap-6 { gap: 6px; }
.gap-7 { gap: 7px; }
.gap-8 { gap: 8px; }
.gap-9 { gap: 9px; }
.gap-10 { gap: 10px; }
.gap-11 { gap: 11px; }
.gap-12 { gap: 12px; }
.gap-13 { gap: 13px; }
.gap-14 { gap: 14px; }
.gap-15 { gap: 15px; }
.gap-16 { gap: 16px; }
.gap-17 { gap: 17px; }
.gap-18 { gap: 18px; }
.gap-19 { gap: 19px; }
.gap-20 { gap: 20px; }
.gap-21 { gap: 21px; }
.gap-22 { gap: 22px; }
.gap-23 { gap: 23px; }
.gap-24 { gap: 24px; }
.gap-25 { gap: 25px; }
.gap-26 { gap: 26px; }
.gap-27 { gap: 27px; }
.gap-28 { gap: 28px; }
.gap-29 { gap: 29px; }
.gap-30 { gap: 30px; }
.gap-31 { gap: 31px; }
.gap-32 { gap: 32px; }
.gap-33 { gap: 33px; }
.gap-34 { gap: 34px; }
.gap-35 { gap: 35px; }
.gap-36 { gap: 36px; }
.gap-37 { gap: 37px; }
.gap-38 { gap: 38px; }
.gap-39 { gap: 39px; }
.gap-40 { gap: 40px; }
.gap-41 { gap: 41px; }
.gap-42 { gap: 42px; }
.gap-43 { gap: 43px; }
.gap-44 { gap: 44px; }
.gap-45 { gap: 45px; }
.gap-46 { gap: 46px; }
.gap-47 { gap: 47px; }
.gap-48 { gap: 48px; }
.gap-49 { gap: 49px; }
.gap-50 { gap: 50px; }
