@media (min-width: 1280px) {
  .xl-rounder-0 { border-radius: 0px !important; }
  .xl-rounder-1 { border-radius: 1px !important; }
  .xl-rounder-2 { border-radius: 2px !important; }
  .xl-rounder-3 { border-radius: 3px !important; }
  .xl-rounder-4 { border-radius: 4px !important; }
  .xl-rounder-5 { border-radius: 5px !important; }
  .xl-rounder-6 { border-radius: 6px !important; }
  .xl-rounder-7 { border-radius: 7px !important; }
  .xl-rounder-8 { border-radius: 8px !important; }
  .xl-rounder-9 { border-radius: 9px !important; }
  .xl-rounder-10 { border-radius: 10px !important; }
  .xl-rounder-11 { border-radius: 11px !important; }
  .xl-rounder-12 { border-radius: 12px !important; }
  .xl-rounder-13 { border-radius: 13px !important; }
  .xl-rounder-14 { border-radius: 14px !important; }
  .xl-rounder-15 { border-radius: 15px !important; }
  .xl-rounder-16 { border-radius: 16px !important; }
  .xl-rounder-17 { border-radius: 17px !important; }
  .xl-rounder-18 { border-radius: 18px !important; }
  .xl-rounder-19 { border-radius: 19px !important; }
  .xl-rounder-20 { border-radius: 20px !important; }
  .xl-rounder-21 { border-radius: 21px !important; }
  .xl-rounder-22 { border-radius: 22px !important; }
  .xl-rounder-23 { border-radius: 23px !important; }
  .xl-rounder-24 { border-radius: 24px !important; }
  .xl-rounder-25 { border-radius: 25px !important; }
  .xl-rounder-26 { border-radius: 26px !important; }
  .xl-rounder-27 { border-radius: 27px !important; }
  .xl-rounder-28 { border-radius: 28px !important; }
  .xl-rounder-29 { border-radius: 29px !important; }
  .xl-rounder-30 { border-radius: 30px !important; }
  .xl-rounder-31 { border-radius: 31px !important; }
  .xl-rounder-32 { border-radius: 32px !important; }
  .xl-rounder-33 { border-radius: 33px !important; }
  .xl-rounder-34 { border-radius: 34px !important; }
  .xl-rounder-35 { border-radius: 35px !important; }
  .xl-rounder-36 { border-radius: 36px !important; }
  .xl-rounder-37 { border-radius: 37px !important; }
  .xl-rounder-38 { border-radius: 38px !important; }
  .xl-rounder-39 { border-radius: 39px !important; }
  .xl-rounder-40 { border-radius: 40px !important; }
  .xl-rounder-41 { border-radius: 41px !important; }
  .xl-rounder-42 { border-radius: 42px !important; }
  .xl-rounder-43 { border-radius: 43px !important; }
  .xl-rounder-44 { border-radius: 44px !important; }
  .xl-rounder-45 { border-radius: 45px !important; }
  .xl-rounder-46 { border-radius: 46px !important; }
  .xl-rounder-47 { border-radius: 47px !important; }
  .xl-rounder-48 { border-radius: 48px !important; }
  .xl-rounder-49 { border-radius: 49px !important; }
  .xl-rounder-50 { border-radius: 50px !important; }
  .xl-rounder-51 { border-radius: 51px !important; }
  .xl-rounder-52 { border-radius: 52px !important; }
  .xl-rounder-53 { border-radius: 53px !important; }
  .xl-rounder-54 { border-radius: 54px !important; }
  .xl-rounder-55 { border-radius: 55px !important; }
  .xl-rounder-56 { border-radius: 56px !important; }
  .xl-rounder-57 { border-radius: 57px !important; }
  .xl-rounder-58 { border-radius: 58px !important; }
  .xl-rounder-59 { border-radius: 59px !important; }
  .xl-rounder-60 { border-radius: 60px !important; }
  .xl-rounder-61 { border-radius: 61px !important; }
  .xl-rounder-62 { border-radius: 62px !important; }
  .xl-rounder-63 { border-radius: 63px !important; }
  .xl-rounder-64 { border-radius: 64px !important; }
  .xl-rounder-65 { border-radius: 65px !important; }
  .xl-rounder-66 { border-radius: 66px !important; }
  .xl-rounder-67 { border-radius: 67px !important; }
  .xl-rounder-68 { border-radius: 68px !important; }
  .xl-rounder-69 { border-radius: 69px !important; }
  .xl-rounder-70 { border-radius: 70px !important; }
  .xl-rounder-71 { border-radius: 71px !important; }
  .xl-rounder-72 { border-radius: 72px !important; }
  .xl-rounder-73 { border-radius: 73px !important; }
  .xl-rounder-74 { border-radius: 74px !important; }
  .xl-rounder-75 { border-radius: 75px !important; }
  .xl-rounder-76 { border-radius: 76px !important; }
  .xl-rounder-77 { border-radius: 77px !important; }
  .xl-rounder-78 { border-radius: 78px !important; }
  .xl-rounder-79 { border-radius: 79px !important; }
  .xl-rounder-80 { border-radius: 80px !important; }
  .xl-rounder-81 { border-radius: 81px !important; }
  .xl-rounder-82 { border-radius: 82px !important; }
  .xl-rounder-83 { border-radius: 83px !important; }
  .xl-rounder-84 { border-radius: 84px !important; }
  .xl-rounder-85 { border-radius: 85px !important; }
  .xl-rounder-86 { border-radius: 86px !important; }
  .xl-rounder-87 { border-radius: 87px !important; }
  .xl-rounder-88 { border-radius: 88px !important; }
  .xl-rounder-89 { border-radius: 89px !important; }
  .xl-rounder-90 { border-radius: 90px !important; }
  .xl-rounder-91 { border-radius: 91px !important; }
  .xl-rounder-92 { border-radius: 92px !important; }
  .xl-rounder-93 { border-radius: 93px !important; }
  .xl-rounder-94 { border-radius: 94px !important; }
  .xl-rounder-95 { border-radius: 95px !important; }
  .xl-rounder-96 { border-radius: 96px !important; }
  .xl-rounder-97 { border-radius: 97px !important; }
  .xl-rounder-98 { border-radius: 98px !important; }
  .xl-rounder-99 { border-radius: 99px !important; }
  .xl-rounder-100 { border-radius: 100px !important; }

  .xl-rounder-0p { border-radius: 0% !important; }
  .xl-rounder-1p { border-radius: 1% !important; }
  .xl-rounder-2p { border-radius: 2% !important; }
  .xl-rounder-3p { border-radius: 3% !important; }
  .xl-rounder-4p { border-radius: 4% !important; }
  .xl-rounder-5p { border-radius: 5% !important; }
  .xl-rounder-6p { border-radius: 6% !important; }
  .xl-rounder-7p { border-radius: 7% !important; }
  .xl-rounder-8p { border-radius: 8% !important; }
  .xl-rounder-9p { border-radius: 9% !important; }
  .xl-rounder-10p { border-radius: 10% !important; }
  .xl-rounder-11p { border-radius: 11% !important; }
  .xl-rounder-12p { border-radius: 12% !important; }
  .xl-rounder-13p { border-radius: 13% !important; }
  .xl-rounder-14p { border-radius: 14% !important; }
  .xl-rounder-15p { border-radius: 15% !important; }
  .xl-rounder-16p { border-radius: 16% !important; }
  .xl-rounder-17p { border-radius: 17% !important; }
  .xl-rounder-18p { border-radius: 18% !important; }
  .xl-rounder-19p { border-radius: 19% !important; }
  .xl-rounder-20p { border-radius: 20% !important; }
  .xl-rounder-21p { border-radius: 21% !important; }
  .xl-rounder-22p { border-radius: 22% !important; }
  .xl-rounder-23p { border-radius: 23% !important; }
  .xl-rounder-24p { border-radius: 24% !important; }
  .xl-rounder-25p { border-radius: 25% !important; }
  .xl-rounder-26p { border-radius: 26% !important; }
  .xl-rounder-27p { border-radius: 27% !important; }
  .xl-rounder-28p { border-radius: 28% !important; }
  .xl-rounder-29p { border-radius: 29% !important; }
  .xl-rounder-30p { border-radius: 30% !important; }
  .xl-rounder-31p { border-radius: 31% !important; }
  .xl-rounder-32p { border-radius: 32% !important; }
  .xl-rounder-33p { border-radius: 33% !important; }
  .xl-rounder-34p { border-radius: 34% !important; }
  .xl-rounder-35p { border-radius: 35% !important; }
  .xl-rounder-36p { border-radius: 36% !important; }
  .xl-rounder-37p { border-radius: 37% !important; }
  .xl-rounder-38p { border-radius: 38% !important; }
  .xl-rounder-39p { border-radius: 39% !important; }
  .xl-rounder-40p { border-radius: 40% !important; }
  .xl-rounder-41p { border-radius: 41% !important; }
  .xl-rounder-42p { border-radius: 42% !important; }
  .xl-rounder-43p { border-radius: 43% !important; }
  .xl-rounder-44p { border-radius: 44% !important; }
  .xl-rounder-45p { border-radius: 45% !important; }
  .xl-rounder-46p { border-radius: 46% !important; }
  .xl-rounder-47p { border-radius: 47% !important; }
  .xl-rounder-48p { border-radius: 48% !important; }
  .xl-rounder-49p { border-radius: 49% !important; }
  .xl-rounder-50p { border-radius: 50% !important; }
  .xl-rounder-51p { border-radius: 51% !important; }
  .xl-rounder-52p { border-radius: 52% !important; }
  .xl-rounder-53p { border-radius: 53% !important; }
  .xl-rounder-54p { border-radius: 54% !important; }
  .xl-rounder-55p { border-radius: 55% !important; }
  .xl-rounder-56p { border-radius: 56% !important; }
  .xl-rounder-57p { border-radius: 57% !important; }
  .xl-rounder-58p { border-radius: 58% !important; }
  .xl-rounder-59p { border-radius: 59% !important; }
  .xl-rounder-60p { border-radius: 60% !important; }
  .xl-rounder-61p { border-radius: 61% !important; }
  .xl-rounder-62p { border-radius: 62% !important; }
  .xl-rounder-63p { border-radius: 63% !important; }
  .xl-rounder-64p { border-radius: 64% !important; }
  .xl-rounder-65p { border-radius: 65% !important; }
  .xl-rounder-66p { border-radius: 66% !important; }
  .xl-rounder-67p { border-radius: 67% !important; }
  .xl-rounder-68p { border-radius: 68% !important; }
  .xl-rounder-69p { border-radius: 69% !important; }
  .xl-rounder-70p { border-radius: 70% !important; }
  .xl-rounder-71p { border-radius: 71% !important; }
  .xl-rounder-72p { border-radius: 72% !important; }
  .xl-rounder-73p { border-radius: 73% !important; }
  .xl-rounder-74p { border-radius: 74% !important; }
  .xl-rounder-75p { border-radius: 75% !important; }
  .xl-rounder-76p { border-radius: 76% !important; }
  .xl-rounder-77p { border-radius: 77% !important; }
  .xl-rounder-78p { border-radius: 78% !important; }
  .xl-rounder-79p { border-radius: 79% !important; }
  .xl-rounder-80p { border-radius: 80% !important; }
  .xl-rounder-81p { border-radius: 81% !important; }
  .xl-rounder-82p { border-radius: 82% !important; }
  .xl-rounder-83p { border-radius: 83% !important; }
  .xl-rounder-84p { border-radius: 84% !important; }
  .xl-rounder-85p { border-radius: 85% !important; }
  .xl-rounder-86p { border-radius: 86% !important; }
  .xl-rounder-87p { border-radius: 87% !important; }
  .xl-rounder-88p { border-radius: 88% !important; }
  .xl-rounder-89p { border-radius: 89% !important; }
  .xl-rounder-90p { border-radius: 90% !important; }
  .xl-rounder-91p { border-radius: 91% !important; }
  .xl-rounder-92p { border-radius: 92% !important; }
  .xl-rounder-93p { border-radius: 93% !important; }
  .xl-rounder-94p { border-radius: 94% !important; }
  .xl-rounder-95p { border-radius: 95% !important; }
  .xl-rounder-96p { border-radius: 96% !important; }
  .xl-rounder-97p { border-radius: 97% !important; }
  .xl-rounder-98p { border-radius: 98% !important; }
  .xl-rounder-99p { border-radius: 99% !important; }
  .xl-rounder-100p, .xl-rounder-full { border-radius: 100% !important; }
}