@media (min-width: 1280px) {
  .xl-z-1 { z-index: 1 !important; }
  .xl-z-2 { z-index: 2 !important; }
  .xl-z-3 { z-index: 3 !important; }
  .xl-z-4 { z-index: 4 !important; }
  .xl-z-5 { z-index: 5 !important; }
  .xl-z-6 { z-index: 6 !important; }
  .xl-z-7 { z-index: 7 !important; }
  .xl-z-8 { z-index: 8 !important; }
  .xl-z-9 { z-index: 9 !important; }
  .xl-z-10{ z-index: 10 !important; }
  .xl-z-11 { z-index: 11 !important; }
  .xl-z-12 { z-index: 12 !important; }
  .xl-z-13 { z-index: 13 !important; }
  .xl-z-14 { z-index: 14 !important; }
  .xl-z-15 { z-index: 15 !important; }
  .xl-z-16 { z-index: 16 !important; }
  .xl-z-17 { z-index: 17 !important; }
  .xl-z-18 { z-index: 18 !important; }
  .xl-z-19 { z-index: 19 !important; }
  .xl-z-20 { z-index: 20 !important; }
  .xl-z-21 { z-index: 21 !important; }
  .xl-z-22 { z-index: 22 !important; }
  .xl-z-23 { z-index: 23 !important; }
  .xl-z-24 { z-index: 24 !important; }
  .xl-z-25 { z-index: 25 !important; }
  .xl-z-26 { z-index: 26 !important; }
  .xl-z-27 { z-index: 27 !important; }
  .xl-z-28 { z-index: 28 !important; }
  .xl-z-29 { z-index: 29 !important; }
  .xl-z-30 { z-index: 30 !important; }
  .xl-z-31 { z-index: 31 !important; }
  .xl-z-32 { z-index: 32 !important; }
  .xl-z-33 { z-index: 33 !important; }
  .xl-z-34 { z-index: 34 !important; }
  .xl-z-35 { z-index: 35 !important; }
  .xl-z-36 { z-index: 36 !important; }
  .xl-z-37 { z-index: 37 !important; }
  .xl-z-38 { z-index: 38 !important; }
  .xl-z-39 { z-index: 39 !important; }
  .xl-z-40 { z-index: 40 !important; }
  .xl-z-41 { z-index: 41 !important; }
  .xl-z-42 { z-index: 42 !important; }
  .xl-z-43 { z-index: 43 !important; }
  .xl-z-44 { z-index: 44 !important; }
  .xl-z-45 { z-index: 45 !important; }
  .xl-z-46 { z-index: 46 !important; }
  .xl-z-47 { z-index: 47 !important; }
  .xl-z-48 { z-index: 48 !important; }
  .xl-z-49 { z-index: 49 !important; }
  .xl-z-50 { z-index: 50 !important; }
  .xl-z-51 { z-index: 51 !important; }
  .xl-z-52 { z-index: 52 !important; }
  .xl-z-53 { z-index: 53 !important; }
  .xl-z-54 { z-index: 54 !important; }
  .xl-z-55 { z-index: 55 !important; }
  .xl-z-56 { z-index: 56 !important; }
  .xl-z-57 { z-index: 57 !important; }
  .xl-z-58 { z-index: 58 !important; }
  .xl-z-59 { z-index: 59 !important; }
  .xl-z-60 { z-index: 60 !important; }
  .xl-z-61 { z-index: 61 !important; }
  .xl-z-62 { z-index: 62 !important; }
  .xl-z-63 { z-index: 63 !important; }
  .xl-z-64 { z-index: 64 !important; }
  .xl-z-65 { z-index: 65 !important; }
  .xl-z-66 { z-index: 66 !important; }
  .xl-z-67 { z-index: 67 !important; }
  .xl-z-68 { z-index: 68 !important; }
  .xl-z-69 { z-index: 69 !important; }
  .xl-z-70 { z-index: 70 !important; }
  .xl-z-71 { z-index: 71 !important; }
  .xl-z-72 { z-index: 72 !important; }
  .xl-z-73 { z-index: 73 !important; }
  .xl-z-74 { z-index: 74 !important; }
  .xl-z-75 { z-index: 75 !important; }
  .xl-z-76 { z-index: 76 !important; }
  .xl-z-77 { z-index: 77 !important; }
  .xl-z-78 { z-index: 78 !important; }
  .xl-z-79 { z-index: 79 !important; }
  .xl-z-80 { z-index: 80 !important; }
  .xl-z-81 { z-index: 81 !important; }
  .xl-z-82 { z-index: 82 !important; }
  .xl-z-83 { z-index: 83 !important; }
  .xl-z-84 { z-index: 84 !important; }
  .xl-z-85 { z-index: 85 !important; }
  .xl-z-86 { z-index: 86 !important; }
  .xl-z-87 { z-index: 87 !important; }
  .xl-z-88 { z-index: 88 !important; }
  .xl-z-89 { z-index: 89 !important; }
  .xl-z-90 { z-index: 90 !important; }
  .xl-z-91 { z-index: 91 !important; }
  .xl-z-92 { z-index: 92 !important; }
  .xl-z-93 { z-index: 93 !important; }
  .xl-z-94 { z-index: 94 !important; }
  .xl-z-95 { z-index: 95 !important; }
  .xl-z-96 { z-index: 96 !important; }
  .xl-z-97 { z-index: 97 !important; }
  .xl-z-98 { z-index: 98 !important; }
  .xl-z-99 { z-index: 99 !important; }
  .xl-z-100 { z-index: 100 !important; }
}