@media (min-width: 768px) {
  .sm-bg-transparent { background-color: transparent !important; }
  .sm-bg-red { background-color: red !important; }
  .sm-bg-green { background-color: green !important; }
  .sm-bg-gray { background-color: gray !important; }
  .sm-bg-blue { background-color: blue !important; }
  .sm-bg-yellow { background-color: yellow !important; }
  .sm-bg-black { background-color: black !important; }
  .sm-bg-white { background-color: white !important; }
  .sm-bg-orange { background-color: orange !important; }
}