@media (min-width: 768px) {
  .md-text-red { color: red !important; } 
  .md-text-green { color: green !important; }
  .md-text-gray { color: gray !important; }
  .md-text-blue { color: blue !important; }
  .md-text-yellow { color: yellow !important; }
  .md-text-black { color: black !important; }
  .md-text-white { color: white !important; }
  .md-text-orange { color: orange !important; }
}