@media (min-width: 768px) {
  .md-flex { display: flex !important; }
  .md-hidden { display: none !important; }
  .md-block { display: block !important; }
  .md-inline-block { display: inline-block !important; }
  .md-inline { display: inline !important; }
}