@media (min-width: 768px) {
  .sm-flex { display: flex !important; }
  .sm-hidden { display: none !important; }
  .sm-block { display: block !important; }
  .sm-inline-block { display: inline-block !important; }
  .sm-inline { display: inline !important; }
}