@media (min-width: 768px) {
  .md-flex-col { flex-direction: column !important; }
  .md-flex-col-reverse { flex-direction: column-reverse !important; }
  
  .md-flex-row { flex-direction: row !important; }
  .md-flex-row-reverse { flex-direction: row-reverse !important; }
  
  .md-flex-wrap { flex-wrap: wrap !important; }
  .md-flex-wrap-reverse { flex-wrap: wrap-reverse !important; }
  .md-flex-wrap-unset { flex-wrap: unset !important; }
  
  .md-flex-x, .md-justify-content-center { justify-content: center !important; }
  .md-flex-y, .md-align-items-center { align-items: center !important; }
  
  .md-justify-content-start { justify-content: start !important; }
  .md-justify-content-end { justify-content: end !important; }
  .md-justify-content-between { justify-content: space-between !important; }
  .md-justify-content-around { justify-content: space-around !important; }
  .md-align-items-start { align-items: start !important; }
  .md-align-items-end { align-items: end !important; }
  
  .md-gap-0 { gap: 0px !important; }
  .md-gap-2 { gap: 2px !important; }
  .md-gap-3 { gap: 3px !important; }
  .md-gap-4 { gap: 4px !important; }
  .md-gap-5 { gap: 5px !important; }
  .md-gap-6 { gap: 6px !important; }
  .md-gap-7 { gap: 7px !important; }
  .md-gap-8 { gap: 8px !important; }
  .md-gap-9 { gap: 9px !important; }
  .md-gap-10 { gap: 10px !important; }
  .md-gap-11 { gap: 11px !important; }
  .md-gap-12 { gap: 12px !important; }
  .md-gap-13 { gap: 13px !important; }
  .md-gap-14 { gap: 14px !important; }
  .md-gap-15 { gap: 15px !important; }
  .md-gap-16 { gap: 16px !important; }
  .md-gap-17 { gap: 17px !important; }
  .md-gap-18 { gap: 18px !important; }
  .md-gap-19 { gap: 19px !important; }
  .md-gap-20 { gap: 20px !important; }
  .md-gap-21 { gap: 21px !important; }
  .md-gap-22 { gap: 22px !important; }
  .md-gap-23 { gap: 23px !important; }
  .md-gap-24 { gap: 24px !important; }
  .md-gap-25 { gap: 25px !important; }
  .md-gap-26 { gap: 26px !important; }
  .md-gap-27 { gap: 27px !important; }
  .md-gap-28 { gap: 28px !important; }
  .md-gap-29 { gap: 29px !important; }
  .md-gap-30 { gap: 30px !important; }
  .md-gap-31 { gap: 31px !important; }
  .md-gap-32 { gap: 32px !important; }
  .md-gap-33 { gap: 33px !important; }
  .md-gap-34 { gap: 34px !important; }
  .md-gap-35 { gap: 35px !important; }
  .md-gap-36 { gap: 36px !important; }
  .md-gap-37 { gap: 37px !important; }
  .md-gap-38 { gap: 38px !important; }
  .md-gap-39 { gap: 39px !important; }
  .md-gap-40 { gap: 40px !important; }
  .md-gap-41 { gap: 41px !important; }
  .md-gap-42 { gap: 42px !important; }
  .md-gap-43 { gap: 43px !important; }
  .md-gap-44 { gap: 44px !important; }
  .md-gap-45 { gap: 45px !important; }
  .md-gap-46 { gap: 46px !important; }
  .md-gap-47 { gap: 47px !important; }
  .md-gap-48 { gap: 48px !important; }
  .md-gap-49 { gap: 49px !important; }
  .md-gap-50 { gap: 50px !important; }
  .md-gap-51 { gap: 51px !important; }
  .md-gap-52 { gap: 52px !important; }
  .md-gap-53 { gap: 53px !important; }
  .md-gap-54 { gap: 54px !important; }
  .md-gap-55 { gap: 55px !important; }
  .md-gap-56 { gap: 56px !important; }
  .md-gap-57 { gap: 57px !important; }
  .md-gap-58 { gap: 58px !important; }
  .md-gap-59 { gap: 59px !important; }
  .md-gap-60 { gap: 60px !important; }
  .md-gap-61 { gap: 61px !important; }
  .md-gap-62 { gap: 62px !important; }
  .md-gap-63 { gap: 63px !important; }
  .md-gap-64 { gap: 64px !important; }
  .md-gap-65 { gap: 65px !important; }
  .md-gap-66 { gap: 66px !important; }
  .md-gap-67 { gap: 67px !important; }
  .md-gap-68 { gap: 68px !important; }
  .md-gap-69 { gap: 69px !important; }
  .md-gap-70 { gap: 70px !important; }
  .md-gap-71 { gap: 71px !important; }
  .md-gap-72 { gap: 72px !important; }
  .md-gap-73 { gap: 73px !important; }
  .md-gap-74 { gap: 74px !important; }
  .md-gap-75 { gap: 75px !important; }
  .md-gap-76 { gap: 76px !important; }
  .md-gap-77 { gap: 77px !important; }
  .md-gap-78 { gap: 78px !important; }
  .md-gap-79 { gap: 79px !important; }
  .md-gap-80 { gap: 80px !important; }
  .md-gap-81 { gap: 81px !important; }
  .md-gap-82 { gap: 82px !important; }
  .md-gap-83 { gap: 83px !important; }
  .md-gap-84 { gap: 84px !important; }
  .md-gap-85 { gap: 85px !important; }
  .md-gap-86 { gap: 86px !important; }
  .md-gap-87 { gap: 87px !important; }
  .md-gap-88 { gap: 88px !important; }
  .md-gap-89 { gap: 89px !important; }
  .md-gap-90 { gap: 90px !important; }
  .md-gap-91 { gap: 91px !important; }
  .md-gap-92 { gap: 92px !important; }
  .md-gap-93 { gap: 93px !important; }
  .md-gap-94 { gap: 94px !important; }
  .md-gap-95 { gap: 95px !important; }
  .md-gap-96 { gap: 96px !important; }
  .md-gap-97 { gap: 97px !important; }
  .md-gap-98 { gap: 98px !important; }
  .md-gap-99 { gap: 99px !important; }
  .md-gap-100 { gap: 100px !important; }
}