@media (min-width: 768px) {
  .md-opacity-0 { opacity: 0.00 !important; }
  .md-opacity-1 { opacity: 0.01 !important; }
  .md-opacity-2 { opacity: 0.02 !important; }
  .md-opacity-3 { opacity: 0.03 !important; }
  .md-opacity-4 { opacity: 0.04 !important; }
  .md-opacity-5 { opacity: 0.05 !important; }
  .md-opacity-6 { opacity: 0.06 !important; }
  .md-opacity-7 { opacity: 0.07 !important; }
  .md-opacity-8 { opacity: 0.08 !important; }
  .md-opacity-9 { opacity: 0.09 !important; }
  .md-opacity-10 { opacity: 0.10 !important; }
  .md-opacity-11 { opacity: 0.11 !important; }
  .md-opacity-12 { opacity: 0.12 !important; }
  .md-opacity-13 { opacity: 0.13 !important; }
  .md-opacity-14 { opacity: 0.14 !important; }
  .md-opacity-15 { opacity: 0.15 !important; }
  .md-opacity-16 { opacity: 0.16 !important; }
  .md-opacity-17 { opacity: 0.17 !important; }
  .md-opacity-18 { opacity: 0.18 !important; }
  .md-opacity-19 { opacity: 0.19 !important; }
  .md-opacity-20 { opacity: 0.20 !important; }
  .md-opacity-21 { opacity: 0.21 !important; }
  .md-opacity-22 { opacity: 0.22 !important; }
  .md-opacity-23 { opacity: 0.23 !important; }
  .md-opacity-24 { opacity: 0.24 !important; }
  .md-opacity-25 { opacity: 0.25 !important; }
  .md-opacity-26 { opacity: 0.26 !important; }
  .md-opacity-27 { opacity: 0.27 !important; }
  .md-opacity-28 { opacity: 0.28 !important; }
  .md-opacity-29 { opacity: 0.29 !important; }
  .md-opacity-30 { opacity: 0.30 !important; }
  .md-opacity-31 { opacity: 0.31 !important; }
  .md-opacity-32 { opacity: 0.32 !important; }
  .md-opacity-33 { opacity: 0.33 !important; }
  .md-opacity-34 { opacity: 0.34 !important; }
  .md-opacity-35 { opacity: 0.35 !important; }
  .md-opacity-36 { opacity: 0.36 !important; }
  .md-opacity-37 { opacity: 0.37 !important; }
  .md-opacity-38 { opacity: 0.38 !important; }
  .md-opacity-39 { opacity: 0.39 !important; }
  .md-opacity-40 { opacity: 0.40 !important; }
  .md-opacity-41 { opacity: 0.41 !important; }
  .md-opacity-42 { opacity: 0.42 !important; }
  .md-opacity-43 { opacity: 0.43 !important; }
  .md-opacity-44 { opacity: 0.44 !important; }
  .md-opacity-45 { opacity: 0.45 !important; }
  .md-opacity-46 { opacity: 0.46 !important; }
  .md-opacity-47 { opacity: 0.47 !important; }
  .md-opacity-48 { opacity: 0.48 !important; }
  .md-opacity-49 { opacity: 0.49 !important; }
  .md-opacity-50 { opacity: 0.50 !important; }
  .md-opacity-51 { opacity: 0.51 !important; }
  .md-opacity-52 { opacity: 0.52 !important; }
  .md-opacity-53 { opacity: 0.53 !important; }
  .md-opacity-54 { opacity: 0.54 !important; }
  .md-opacity-55 { opacity: 0.55 !important; }
  .md-opacity-56 { opacity: 0.56 !important; }
  .md-opacity-57 { opacity: 0.57 !important; }
  .md-opacity-58 { opacity: 0.58 !important; }
  .md-opacity-59 { opacity: 0.59 !important; }
  .md-opacity-60 { opacity: 0.60 !important; }
  .md-opacity-61 { opacity: 0.61 !important; }
  .md-opacity-62 { opacity: 0.62 !important; }
  .md-opacity-63 { opacity: 0.63 !important; }
  .md-opacity-64 { opacity: 0.64 !important; }
  .md-opacity-65 { opacity: 0.65 !important; }
  .md-opacity-66 { opacity: 0.66 !important; }
  .md-opacity-67 { opacity: 0.67 !important; }
  .md-opacity-68 { opacity: 0.68 !important; }
  .md-opacity-69 { opacity: 0.69 !important; }
  .md-opacity-70 { opacity: 0.70 !important; }
  .md-opacity-71 { opacity: 0.71 !important; }
  .md-opacity-72 { opacity: 0.72 !important; }
  .md-opacity-73 { opacity: 0.73 !important; }
  .md-opacity-74 { opacity: 0.74 !important; }
  .md-opacity-75 { opacity: 0.75 !important; }
  .md-opacity-76 { opacity: 0.76 !important; }
  .md-opacity-77 { opacity: 0.77 !important; }
  .md-opacity-78 { opacity: 0.78 !important; }
  .md-opacity-79 { opacity: 0.79 !important; }
  .md-opacity-80 { opacity: 0.80 !important; }
  .md-opacity-81 { opacity: 0.81 !important; }
  .md-opacity-82 { opacity: 0.82 !important; }
  .md-opacity-83 { opacity: 0.83 !important; }
  .md-opacity-84 { opacity: 0.84 !important; }
  .md-opacity-85 { opacity: 0.85 !important; }
  .md-opacity-86 { opacity: 0.86 !important; }
  .md-opacity-87 { opacity: 0.87 !important; }
  .md-opacity-88 { opacity: 0.88 !important; }
  .md-opacity-89 { opacity: 0.89 !important; }
  .md-opacity-90 { opacity: 0.90 !important; }
  .md-opacity-91 { opacity: 0.91 !important; }
  .md-opacity-92 { opacity: 0.92 !important; }
  .md-opacity-93 { opacity: 0.93 !important; }
  .md-opacity-94 { opacity: 0.94 !important; }
  .md-opacity-95 { opacity: 0.95 !important; }
  .md-opacity-96 { opacity: 0.96 !important; }
  .md-opacity-97 { opacity: 0.97 !important; }
  .md-opacity-98 { opacity: 0.98 !important; }
  .md-opacity-99 { opacity: 0.99 !important; }
  .md-opacity-100 { opacity: 1.00 !important; }
}