@media (min-width: 768px) {
  .md-z-1 { z-index: 1 !important; }
  .md-z-2 { z-index: 2 !important; }
  .md-z-3 { z-index: 3 !important; }
  .md-z-4 { z-index: 4 !important; }
  .md-z-5 { z-index: 5 !important; }
  .md-z-6 { z-index: 6 !important; }
  .md-z-7 { z-index: 7 !important; }
  .md-z-8 { z-index: 8 !important; }
  .md-z-9 { z-index: 9 !important; }
  .md-z-10{ z-index: 10 !important; }
  .md-z-11 { z-index: 11 !important; }
  .md-z-12 { z-index: 12 !important; }
  .md-z-13 { z-index: 13 !important; }
  .md-z-14 { z-index: 14 !important; }
  .md-z-15 { z-index: 15 !important; }
  .md-z-16 { z-index: 16 !important; }
  .md-z-17 { z-index: 17 !important; }
  .md-z-18 { z-index: 18 !important; }
  .md-z-19 { z-index: 19 !important; }
  .md-z-20 { z-index: 20 !important; }
  .md-z-21 { z-index: 21 !important; }
  .md-z-22 { z-index: 22 !important; }
  .md-z-23 { z-index: 23 !important; }
  .md-z-24 { z-index: 24 !important; }
  .md-z-25 { z-index: 25 !important; }
  .md-z-26 { z-index: 26 !important; }
  .md-z-27 { z-index: 27 !important; }
  .md-z-28 { z-index: 28 !important; }
  .md-z-29 { z-index: 29 !important; }
  .md-z-30 { z-index: 30 !important; }
  .md-z-31 { z-index: 31 !important; }
  .md-z-32 { z-index: 32 !important; }
  .md-z-33 { z-index: 33 !important; }
  .md-z-34 { z-index: 34 !important; }
  .md-z-35 { z-index: 35 !important; }
  .md-z-36 { z-index: 36 !important; }
  .md-z-37 { z-index: 37 !important; }
  .md-z-38 { z-index: 38 !important; }
  .md-z-39 { z-index: 39 !important; }
  .md-z-40 { z-index: 40 !important; }
  .md-z-41 { z-index: 41 !important; }
  .md-z-42 { z-index: 42 !important; }
  .md-z-43 { z-index: 43 !important; }
  .md-z-44 { z-index: 44 !important; }
  .md-z-45 { z-index: 45 !important; }
  .md-z-46 { z-index: 46 !important; }
  .md-z-47 { z-index: 47 !important; }
  .md-z-48 { z-index: 48 !important; }
  .md-z-49 { z-index: 49 !important; }
  .md-z-50 { z-index: 50 !important; }
  .md-z-51 { z-index: 51 !important; }
  .md-z-52 { z-index: 52 !important; }
  .md-z-53 { z-index: 53 !important; }
  .md-z-54 { z-index: 54 !important; }
  .md-z-55 { z-index: 55 !important; }
  .md-z-56 { z-index: 56 !important; }
  .md-z-57 { z-index: 57 !important; }
  .md-z-58 { z-index: 58 !important; }
  .md-z-59 { z-index: 59 !important; }
  .md-z-60 { z-index: 60 !important; }
  .md-z-61 { z-index: 61 !important; }
  .md-z-62 { z-index: 62 !important; }
  .md-z-63 { z-index: 63 !important; }
  .md-z-64 { z-index: 64 !important; }
  .md-z-65 { z-index: 65 !important; }
  .md-z-66 { z-index: 66 !important; }
  .md-z-67 { z-index: 67 !important; }
  .md-z-68 { z-index: 68 !important; }
  .md-z-69 { z-index: 69 !important; }
  .md-z-70 { z-index: 70 !important; }
  .md-z-71 { z-index: 71 !important; }
  .md-z-72 { z-index: 72 !important; }
  .md-z-73 { z-index: 73 !important; }
  .md-z-74 { z-index: 74 !important; }
  .md-z-75 { z-index: 75 !important; }
  .md-z-76 { z-index: 76 !important; }
  .md-z-77 { z-index: 77 !important; }
  .md-z-78 { z-index: 78 !important; }
  .md-z-79 { z-index: 79 !important; }
  .md-z-80 { z-index: 80 !important; }
  .md-z-81 { z-index: 81 !important; }
  .md-z-82 { z-index: 82 !important; }
  .md-z-83 { z-index: 83 !important; }
  .md-z-84 { z-index: 84 !important; }
  .md-z-85 { z-index: 85 !important; }
  .md-z-86 { z-index: 86 !important; }
  .md-z-87 { z-index: 87 !important; }
  .md-z-88 { z-index: 88 !important; }
  .md-z-89 { z-index: 89 !important; }
  .md-z-90 { z-index: 90 !important; }
  .md-z-91 { z-index: 91 !important; }
  .md-z-92 { z-index: 92 !important; }
  .md-z-93 { z-index: 93 !important; }
  .md-z-94 { z-index: 94 !important; }
  .md-z-95 { z-index: 95 !important; }
  .md-z-96 { z-index: 96 !important; }
  .md-z-97 { z-index: 97 !important; }
  .md-z-98 { z-index: 98 !important; }
  .md-z-99 { z-index: 99 !important; }
  .md-z-100 { z-index: 100 !important; }
}