@media (min-width: 1024px) {
  .lg-flex-col { flex-direction: column !important; }
  .lg-flex-col-reverse { flex-direction: column-reverse !important; }
  
  .lg-flex-row { flex-direction: row !important; }
  .lg-flex-row-reverse { flex-direction: row-reverse !important; }
  
  .lg-flex-wrap { flex-wrap: wrap !important; }
  .lg-flex-wrap-reverse { flex-wrap: wrap-reverse !important; }
  .lg-flex-wrap-unset { flex-wrap: unset !important; }
  
  .lg-flex-x, .lg-justify-content-center { justify-content: center !important; }
  .lg-flex-y, .lg-align-items-center { align-items: center !important; }
  
  .lg-justify-content-start { justify-content: start !important; }
  .lg-justify-content-end { justify-content: end !important; }
  .lg-justify-content-between { justify-content: space-between !important; }
  .lg-justify-content-around { justify-content: space-around !important; }
  .lg-align-items-start { align-items: start !important; }
  .lg-align-items-end { align-items: end !important; }
  
  .lg-gap-0 { gap: 0px !important; }
  .lg-gap-1 { gap: 1px !important; }
  .lg-gap-2 { gap: 2px !important; }
  .lg-gap-3 { gap: 3px !important; }
  .lg-gap-4 { gap: 4px !important; }
  .lg-gap-5 { gap: 5px !important; }
  .lg-gap-6 { gap: 6px !important; }
  .lg-gap-7 { gap: 7px !important; }
  .lg-gap-8 { gap: 8px !important; }
  .lg-gap-9 { gap: 9px !important; }
  .lg-gap-10 { gap: 10px !important; }
  .lg-gap-11 { gap: 11px !important; }
  .lg-gap-12 { gap: 12px !important; }
  .lg-gap-13 { gap: 13px !important; }
  .lg-gap-14 { gap: 14px !important; }
  .lg-gap-15 { gap: 15px !important; }
  .lg-gap-16 { gap: 16px !important; }
  .lg-gap-17 { gap: 17px !important; }
  .lg-gap-18 { gap: 18px !important; }
  .lg-gap-19 { gap: 19px !important; }
  .lg-gap-20 { gap: 20px !important; }
  .lg-gap-21 { gap: 21px !important; }
  .lg-gap-22 { gap: 22px !important; }
  .lg-gap-23 { gap: 23px !important; }
  .lg-gap-24 { gap: 24px !important; }
  .lg-gap-25 { gap: 25px !important; }
  .lg-gap-26 { gap: 26px !important; }
  .lg-gap-27 { gap: 27px !important; }
  .lg-gap-28 { gap: 28px !important; }
  .lg-gap-29 { gap: 29px !important; }
  .lg-gap-30 { gap: 30px !important; }
  .lg-gap-31 { gap: 31px !important; }
  .lg-gap-32 { gap: 32px !important; }
  .lg-gap-33 { gap: 33px !important; }
  .lg-gap-34 { gap: 34px !important; }
  .lg-gap-35 { gap: 35px !important; }
  .lg-gap-36 { gap: 36px !important; }
  .lg-gap-37 { gap: 37px !important; }
  .lg-gap-38 { gap: 38px !important; }
  .lg-gap-39 { gap: 39px !important; }
  .lg-gap-40 { gap: 40px !important; }
  .lg-gap-41 { gap: 41px !important; }
  .lg-gap-42 { gap: 42px !important; }
  .lg-gap-43 { gap: 43px !important; }
  .lg-gap-44 { gap: 44px !important; }
  .lg-gap-45 { gap: 45px !important; }
  .lg-gap-46 { gap: 46px !important; }
  .lg-gap-47 { gap: 47px !important; }
  .lg-gap-48 { gap: 48px !important; }
  .lg-gap-49 { gap: 49px !important; }
  .lg-gap-50 { gap: 50px !important; }
  .lg-gap-51 { gap: 51px !important; }
  .lg-gap-52 { gap: 52px !important; }
  .lg-gap-53 { gap: 53px !important; }
  .lg-gap-54 { gap: 54px !important; }
  .lg-gap-55 { gap: 55px !important; }
  .lg-gap-56 { gap: 56px !important; }
  .lg-gap-57 { gap: 57px !important; }
  .lg-gap-58 { gap: 58px !important; }
  .lg-gap-59 { gap: 59px !important; }
  .lg-gap-60 { gap: 60px !important; }
  .lg-gap-61 { gap: 61px !important; }
  .lg-gap-62 { gap: 62px !important; }
  .lg-gap-63 { gap: 63px !important; }
  .lg-gap-64 { gap: 64px !important; }
  .lg-gap-65 { gap: 65px !important; }
  .lg-gap-66 { gap: 66px !important; }
  .lg-gap-67 { gap: 67px !important; }
  .lg-gap-68 { gap: 68px !important; }
  .lg-gap-69 { gap: 69px !important; }
  .lg-gap-70 { gap: 70px !important; }
  .lg-gap-71 { gap: 71px !important; }
  .lg-gap-72 { gap: 72px !important; }
  .lg-gap-73 { gap: 73px !important; }
  .lg-gap-74 { gap: 74px !important; }
  .lg-gap-75 { gap: 75px !important; }
  .lg-gap-76 { gap: 76px !important; }
  .lg-gap-77 { gap: 77px !important; }
  .lg-gap-78 { gap: 78px !important; }
  .lg-gap-79 { gap: 79px !important; }
  .lg-gap-80 { gap: 80px !important; }
  .lg-gap-81 { gap: 81px !important; }
  .lg-gap-82 { gap: 82px !important; }
  .lg-gap-83 { gap: 83px !important; }
  .lg-gap-84 { gap: 84px !important; }
  .lg-gap-85 { gap: 85px !important; }
  .lg-gap-86 { gap: 86px !important; }
  .lg-gap-87 { gap: 87px !important; }
  .lg-gap-88 { gap: 88px !important; }
  .lg-gap-89 { gap: 89px !important; }
  .lg-gap-90 { gap: 90px !important; }
  .lg-gap-91 { gap: 91px !important; }
  .lg-gap-92 { gap: 92px !important; }
  .lg-gap-93 { gap: 93px !important; }
  .lg-gap-94 { gap: 94px !important; }
  .lg-gap-95 { gap: 95px !important; }
  .lg-gap-96 { gap: 96px !important; }
  .lg-gap-97 { gap: 97px !important; }
  .lg-gap-98 { gap: 98px !important; }
  .lg-gap-99 { gap: 99px !important; }
  .lg-gap-100 { gap: 100px !important; }
}