@media (min-width: 1536px) {
  .xxl-fs-1{ font-size: 1px !important; }
  .xxl-fs-2{ font-size: 2px !important; }
  .xxl-fs-3{ font-size: 3px !important; }
  .xxl-fs-4{ font-size: 4px !important; }
  .xxl-fs-5{ font-size: 5px !important; }
  .xxl-fs-6{ font-size: 6px !important; }
  .xxl-fs-7{ font-size: 7px !important; }
  .xxl-fs-8{ font-size: 8px !important; }
  .xxl-fs-9{ font-size: 9px !important; }
  .xxl-fs-10{ font-size: 10px !important; }
  .xxl-fs-11{ font-size: 11px !important; }
  .xxl-fs-12{ font-size: 12px !important; }
  .xxl-fs-13{ font-size: 13px !important; }
  .xxl-fs-14{ font-size: 14px !important; }
  .xxl-fs-15{ font-size: 15px !important; }
  .xxl-fs-16{ font-size: 16px !important; }
  .xxl-fs-17{ font-size: 17px !important; }
  .xxl-fs-18{ font-size: 18px !important; }
  .xxl-fs-19{ font-size: 19px !important; }
  .xxl-fs-20{ font-size: 20px !important; }
  .xxl-fs-21{ font-size: 21px !important; }
  .xxl-fs-22{ font-size: 22px !important; }
  .xxl-fs-23{ font-size: 23px !important; }
  .xxl-fs-24{ font-size: 24px !important; }
  .xxl-fs-25{ font-size: 25px !important; }
  .xxl-fs-26{ font-size: 26px !important; }
  .xxl-fs-27{ font-size: 27px !important; }
  .xxl-fs-28{ font-size: 28px !important; }
  .xxl-fs-29{ font-size: 29px !important; }
  .xxl-fs-30{ font-size: 30px !important; }
  .xxl-fs-31{ font-size: 31px !important; }
  .xxl-fs-32{ font-size: 32px !important; }
  .xxl-fs-33{ font-size: 33px !important; }
  .xxl-fs-34{ font-size: 34px !important; }
  .xxl-fs-35{ font-size: 35px !important; }
  .xxl-fs-36{ font-size: 36px !important; }
  .xxl-fs-37{ font-size: 37px !important; }
  .xxl-fs-38{ font-size: 38px !important; }
  .xxl-fs-39{ font-size: 39px !important; }
  .xxl-fs-40{ font-size: 40px !important; }
  .xxl-fs-41{ font-size: 41px !important; }
  .xxl-fs-42{ font-size: 42px !important; }
  .xxl-fs-43{ font-size: 43px !important; }
  .xxl-fs-44{ font-size: 44px !important; }
  .xxl-fs-45{ font-size: 45px !important; }
  .xxl-fs-46{ font-size: 46px !important; }
  .xxl-fs-47{ font-size: 47px !important; }
  .xxl-fs-48{ font-size: 48px !important; }
  .xxl-fs-49{ font-size: 49px !important; }
  .xxl-fs-50{ font-size: 50px !important; }
  .xxl-fs-51{ font-size: 51px !important; }
  .xxl-fs-52{ font-size: 52px !important; }
  .xxl-fs-53{ font-size: 53px !important; }
  .xxl-fs-54{ font-size: 54px !important; }
  .xxl-fs-55{ font-size: 55px !important; }
  .xxl-fs-56{ font-size: 56px !important; }
  .xxl-fs-57{ font-size: 57px !important; }
  .xxl-fs-58{ font-size: 58px !important; }
  .xxl-fs-59{ font-size: 59px !important; }
  .xxl-fs-60{ font-size: 60px !important; }
  .xxl-fs-61{ font-size: 61px !important; }
  .xxl-fs-62{ font-size: 62px !important; }
  .xxl-fs-63{ font-size: 63px !important; }
  .xxl-fs-64{ font-size: 64px !important; }
  .xxl-fs-65{ font-size: 65px !important; }
  .xxl-fs-66{ font-size: 66px !important; }
  .xxl-fs-67{ font-size: 67px !important; }
  .xxl-fs-68{ font-size: 68px !important; }
  .xxl-fs-69{ font-size: 69px !important; }
  .xxl-fs-70{ font-size: 70px !important; }
  .xxl-fs-71{ font-size: 71px !important; }
  .xxl-fs-72{ font-size: 72px !important; }
  .xxl-fs-73{ font-size: 73px !important; }
  .xxl-fs-74{ font-size: 74px !important; }
  .xxl-fs-75{ font-size: 75px !important; }
  .xxl-fs-76{ font-size: 76px !important; }
  .xxl-fs-77{ font-size: 77px !important; }
  .xxl-fs-78{ font-size: 78px !important; }
  .xxl-fs-79{ font-size: 79px !important; }
  .xxl-fs-80{ font-size: 80px !important; }
  .xxl-fs-81{ font-size: 81px !important; }
  .xxl-fs-82{ font-size: 82px !important; }
  .xxl-fs-83{ font-size: 83px !important; }
  .xxl-fs-84{ font-size: 84px !important; }
  .xxl-fs-85{ font-size: 85px !important; }
  .xxl-fs-86{ font-size: 86px !important; }
  .xxl-fs-87{ font-size: 87px !important; }
  .xxl-fs-88{ font-size: 88px !important; }
  .xxl-fs-89{ font-size: 89px !important; }
  .xxl-fs-90{ font-size: 90px !important; }
  .xxl-fs-91{ font-size: 91px !important; }
  .xxl-fs-92{ font-size: 92px !important; }
  .xxl-fs-93{ font-size: 93px !important; }
  .xxl-fs-94{ font-size: 94px !important; }
  .xxl-fs-95{ font-size: 95px !important; }
  .xxl-fs-96{ font-size: 96px !important; }
  .xxl-fs-97{ font-size: 97px !important; }
  .xxl-fs-98{ font-size: 98px !important; }
  .xxl-fs-99{ font-size: 99px !important; }
  .xxl-fs-100{ font-size: 100px !important; }
}